:root{
    --backgroud-primary-color:#ffffff;
    --backgroud-secondary-color:#f5f5f5;
    --backgroud-tertiary-color:#000000;
    
    --primary-color:#8F0101;
    --secundary-color:#B81515;

    --text-primary-color:#222222;
    --text-secundary-color:#FFFFFF;

    --tittle-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-Font.ttf);
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}